<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <div class="filed form-group">
    <%= form.label :Vendor %>
    <%= form.select(:vendor_id,options_for_select(@business_options),{include_blank:'Select vendor',disabled:true},{class:"form-control"}) %>
  </div>
  <div class="form-group" id="vendor_products">

  </div>
  <div class="actions form-group">
    <%= form.submit %>
  </div>
<% end %>
