<% provide(:title,"View | BuOrders") %>
<% content_for :account_page_content do %>

<p id="notice"><%= notice %></p>
<h1>Order</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
   <tr>
     <td><%= @order.title %></td>
   </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% end %>

<%= render template: "layouts/account" %>








