<div class="row m-auto">
    <div class="col-sm-12 col-md-6 col-lg-6">
     <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control", autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password,class:"form-control", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me,class:"form-control" %>
    </div>
  <% end %>

  <div class="actions form-group">
    <%= f.submit "Log in" %>
  </div>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>
<% end %>

    </div>
</div>


