<!DOCTYPE html>
<html>
  <head>
    <title>Railsshipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if user_signed_in? %>
     <p class="lead">Hello, <%= current_user.name %> - <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
    <br>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
